.input {
  padding: 26px;
  //width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  outline: none;
  border: none;
  color: var(--text-color);

  &::placeholder {
    color: var(--fadeColor);
  }

  &:focus {
    color: var(--textColor);
  }

  &:disabled {
    color: var(--text-color-disabled);
    opacity: .7;
    background-color: #fff;
  }

}
