.button {
  padding: 16px 28px;
  max-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5px;
  background-color: var(--mainColor);
  color: #fff;
  border: none;
  transition: all .2s;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }

  &__disabled {
    opacity: .3;
    cursor: default;

    &:hover {
      opacity: .3;
      cursor: default;
    }
  }

}
